<div class="searchBar">
    <div class="container">
        <form action="/search" method="POST" class="search__form" role="search">
            <input type="search" name="searchTerm" id="searchInput" placeholder="search">
        </form>
        <div id="searchClose">Close</div>
    </div>
</div>