<h1>About page</h1>
<p>

    I’m Homendra Chandrawanshi. Software engineer having an experience of 3 years in web development. I have hands on
    experience on frontend web development and mobile development.
</p>
The skills I have used in my job include:
<ul>
    <li>
        React, Typescript, Redux, MUI
    </li>
    <li>
        React Native, Next.Js,
    </li>
    <li>
        Microsoft SharePoint, SharePoint Framework (SPFx)
    </li>
</ul>

<h3>

    This Website
</h3>
In my free time, I have learned backend development.
<p>
    I have also acquired the skills in backend development and made this website.
    This website which is called “my blog” is made using only node and express. For layout purposes Ejs is used. MongoDB
    is
    used as database. Future scope is to integrate PostgresSQL in this website.
</p>
Current features of this website include:
<ul>
    <li>Search Page from the blog items</li>
    <li>Add, delete, edit of the blog items from the /admin page</li>
    <li>All Routes and data are being managed in backend express server</li>
</ul>